@import url('./bootstrap.min.css');

.container .container-fluid{
    margin-top: 20px;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;

    .btn{
        margin-top: 1em;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    h1, p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium{
        max-width: 64px;
        max-height: 64px;
    }
    
    &.avatar-mini{
        max-width: 32px;
        max-height: 32px;
    }
    
    &.avatar-micro{
        max-width: 25px;
        max-height: 25px;
    }
}

.alert{
    a{
        text-decoration: none;
    }
    .btn{
        color : white;
    }
}

.card-title a, .col a{
    text-decoration: none;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: firebrick !important;
}

span.rating i {
    color: goldenrod;
}