{% extends "base.html.twig" %}

    {% block title %}
        Bienvenue sur le meilleur réseau d'appartements
    {% endblock %}
    {% block body %}
       <div class="container">
            <div class="jumbotron mt-3">
                <h1 class="display-3">Bienvenue sur SymBNB !</h1>
                <p class="lead">Chez nous, nous mettons en relations les voyageurs et les propriétaires qui veulent profiter 
                d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
                <hr class="my-4">
                <p>Vous êtes voyageur ? Et vous voulez paseser une expérience inoubliable lors de votre prochain voyage ?.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
                </p>
            </div>

            <h2 class="h1 mt-3 mb-4">Nos appartements starts</h2>

            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>39&euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image l'Appartement " 
                        style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de chez nous
                            </h4>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis atque consectetur sapiente ipsa odit quam eaque maxime quos dolore voluptatem voluptate quas veritatis eveniet, sit inventore eius ratione necessitatibus!
                            </p>
                            <a href="#" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>39&euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image l'Appartement " 
                        style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de chez nous
                            </h4>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis atque consectetur sapiente ipsa odit quam eaque maxime quos dolore voluptatem voluptate quas veritatis eveniet, sit inventore eius ratione necessitatibus!
                            </p>
                            <a href="#" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>39&euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>

                        <img src="http://placehold.it/1000x400" alt="image l'Appartement " 
                        style="height: 200px; width: 100%; display: block;">

                        <div class="card-body">
                            <h4 class="card-title">
                                Appartement de chez nous
                            </h4>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam omnis atque consectetur sapiente ipsa odit quam eaque maxime quos dolore voluptatem voluptate quas veritatis eveniet, sit inventore eius ratione necessitatibus!
                            </p>
                            <a href="#" class="btn btn-primary">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="h1 mt-3 mb-4">Nos propriétaires starts</h2>

            <div class="row">
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Yusuf Heri</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="Mon avatar" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lipsum consequatur blanditiis voluptas cupiditate totam ab.</p>
                                <button class="btn btn-primary float-right">En savoir plus !</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Lior Chamla</h4>
                            <hr>
                            <div class="card-text">
                                <img src="http://placehold.it/64x64" alt="Son avatar" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lipsum consequatur blanditiis voluptas cupiditate totam ab.</p>
                                <button class="btn btn-primary float-right">En savoir plus !</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    {% endblock %}
     